<html>
<head> 
<title> Estagio </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="/styles.css" rel="stylesheet">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h2> Lista de Tarefas</h2>

<form action ="/addtask" method="POST">

<input  type="text" class="form-control" name="newtask" placeholder="adicione uma nova tarefa">
<p></p>

<button class="btn btn-primary"> Adicionar Tarefas </button>
<p></p>

<h2> Tarefas Adicionadas </h2>

<% for( var i = 0; i < task.length; i++){ %>
    <li> <input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
<% } %>

<p></p>

<button class="btn btn-primary" name="enviar" formaction="/removetask" type="submit"> Marcar como concluída </button>
</form>

<h2> Tarefas Concluídas </h2>

 <% for(var i = 0; i < complete.length; i++){ %>
    <li><input type="checkbox" checked><%= complete[i] %> </li>
<% } %>

</div>

</body>
</html>